<mat-card>
  <mat-card-title>Registrar usuario</mat-card-title>
  <mat-card-content>
    <form [formGroup]="notesRegisterForm">
      <div class="container">
        <mat-form-field>
          <input matInput placeholder="Titulo" formControlName="title">
          <mat-error *ngIf="hasError('title')">{{messageError('title')}}</mat-error>
        </mat-form-field>
        <p>Valores del formulario: {{notesRegisterForm.value | json}}</p>
        <p>Estado del formulario: {{notesRegisterForm.status}}</p>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button [disabled]="!notesRegisterForm.valid" (click)="onAction()" type="submit" mat-raised-button color="primary">Aceptar</button>
  </mat-card-actions>
</mat-card>