@import '~@angular/material/theming';

@import './app/core/enote-nav/enote-nav.component-theme';

@mixin enote-app-theme($theme) {
   $primary: map-get($theme, primary);
   $accent: map-get($theme, accent);
   $warn: map-get($theme, warn);
   $background: map-get($theme, background);
   $foreground: map-get($theme, foreground);

   @include enote-nav-component-theme($theme);
}